{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brimauh Fashion Outlet</title>
    {% include 'base/css.html' %}
    {% block base_head %}{% endblock base_head %}
    <style>
      body { padding-top: 85px; } /* Ajuste para a navbar fixa */
    </style>
  </head>
  <body>
    {% include 'base/navbar.html' with nome_da_marca='Brimauh Fashion Outlet' %}
    
    <div class='container'>
      {% block content %}{% endblock %}
    </div>

    {% include 'base/js.html' %}
    
    <script>
      $(document).ready(function(){
        // Handler do Formulário de Contato
        var contactForm = $(".contact-form")
        contactForm.submit(function(event){
          event.preventDefault()
          var thisForm = $(this)
          $.ajax({
            method: thisForm.attr("method"),
            url: thisForm.attr("action"),
            data: thisForm.serialize(),
            success: function(data){
              thisForm[0].reset()
              $.alert({title: "Sucesso!", content: data.message, theme: "modern"})
            },
            error: function(error){
              $.alert({title: "Oops!", content: "Erro ao enviar.", theme: "modern"})
            }
          })
        })

        // Carrinho Ajax
        const productForm = $(".form-product-ajax")
        productForm.submit(function(event){
          event.preventDefault();
          const thisForm = $(this);
          $.ajax({
            url: thisForm.attr("data-endpoint"),
            method: thisForm.attr("method"),
            data: thisForm.serialize(),
            success: function(data){
              const submitSpan = thisForm.find(".submit-span")
              if(data.added){
                submitSpan.html("No carrinho <button type='submit' class='btn btn-link'>Excluir</button>")
              } else {
                submitSpan.html("<button type='submit' class='btn btn-success'>Adicionar</button>")
              }
              $(".navbar-cart-count").text(data.cartItemCount)
            }
          })
        })
      })
    </script>
  </body>
</html>